* {
    COLOR-0: rgb(255, 240, 255);
    COLOR-1: rgb(255, 233, 255);
    COLOR-2: rgb(255, 225, 255);
    COLOR-3: rgb(251, 218, 255);
    COLOR-4: rgb(244, 210, 255);
    COLOR-5: rgb(236, 203, 250);
    COLOR-6: rgb(229, 195, 242);
    COLOR-7: rgb(221, 188, 235);
    COLOR-8: rgb(214, 180, 227);
    COLOR-9: rgb(206, 173, 220);
    COLOR-10: rgb(199, 165, 212);
    COLOR-11: rgb(195, 161, 209);
    COLOR-12: rgb(175, 141, 188);
    COLOR-13: rgb(154, 121, 168);
    COLOR-14: rgb(134, 101, 148);
    COLOR-15: rgb(114, 81, 128);
    COLOR-16: rgb(94, 61, 108);
    COLOR-17: rgb(74, 40, 88);
    COLOR-18: rgb(54, 20, 68);
    COLOR-19: rgb(34, 0, 47);
    COLOR-20: rgb(13, 0, 27);
}

.root {
    -fx-dark-text-color: COLOR-18;
    -fx-mid-text-color: COLOR-10;
    -fx-light-text-color: COLOR-2;
    -fx-accent: COLOR-17;
    -fx-default-button: COLOR-15;
    -fx-font-base: COLOR-2;
    -fx-text-background-color: COLOR-2;
    -fx-focus-color: COLOR-3;
    -fx-faint-focus-color: COLOR-7; /*MIGHT WANT TO MAKE TRANS */
    -fx-base: COLOR-10;
    -fx-background-color: COLOR-14;
}

#logo-button {
    -fx-effect: dropshadow(gaussian, white, 50, 10, 0, 0);
}

#arena-pane {
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.content-pane {
    -fx-background-color: linear-gradient(black 0.0%, COLOR-20 50.0%, black 100.0%);
    -fx-hgap: 30.0;
    -fx-vgap: 30.0;
    -fx-padding: 30.0;
}

#snake-head-pane {
    -fx-background-color: rgb(255, 242, 255),
    radial-gradient(focus-angle 45.0deg, focus-distance 50.0%, center 0.0% 0.0%, radius 35.0%, COLOR-20, transparent),
    radial-gradient(focus-angle 135.0deg, focus-distance 50.0%, center 100.0% 0.0%, radius 35.0%, COLOR-20, transparent);
}

#snake-tail-pane {
    -fx-background-color: black,
    linear-gradient(COLOR-20 0.0%, COLOR-19 50.0%, COLOR-20 100.0%);
}

#snake-logo-black {
    -fx-background-color: black;
}

#snake-logo-1 {
    -fx-background-color: COLOR-1;
}

#snake-logo-2 {
    -fx-background-color: COLOR-2;
}

#snake-logo-3 {
    -fx-background-color: COLOR-3;
}

#snake-logo-4 {
    -fx-background-color: COLOR-4;
}

#snake-logo-5 {
    -fx-background-color: COLOR-5;
}